html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: georgia;
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f5f2f0;
  color: #000;
  margin: 0;
}

h1 {
  color: #623b0c;
  padding: .03em;
  margin-left: 1.5rem;
  font-family: "Denk One", sans-serif;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: auto;
}

ol li {
  padding: .6em;
  background-color: #ede3db;
  border-style: solid;
  border-color: #623b0c;
  border-width: 2px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ol li h2 {
  color: #623b0c;
  font-family: "Denk One", sans-serif;
}

img {
  width: 100%;
}

ol li p {
  flex-grow: 1;
  font-family: georgia, serif;
}

ol li a {
  background-color: #623b0c;
  color: #fff;
  text-decoration: none;
  font-family: georgia, serif;
  padding: .6em;
  border-color: #623b0c;
  border-width: 2px;
  border-radius: 8px;
}
