html {
  box-sizing: border-box;
  line-height: 1.5;
  font-family: Georgia, serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #f5f2f0;
  color: #000;
  margin: 0;
  padding: .75em;
}

h1 {
  color: #623b0c;
  font-family: "Denk One", sans-serif;
  padding: 0;
  margin: 1.5rem 0;
}

ol {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  padding-left: 0;
}

li {
  background-color: #ede3db;
  border-style: solid;
  border-color: #623b0c;
  border-width: 2px;
  border-radius: 8px;
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: space-between;
}

h2 {
  color: #623b0c;
  font-family: "Denk One", sans-serif;
  margin-top: .1em;
}

img {
  width: 100%;
  padding-bottom: .5em;
}

p {
  flex-grow: 1;
  padding-bottom: .5em;
}

a {
  background-color: #623b0c;
  color: #f5f2f0;
  text-decoration: none;
  padding: .6em .75em;
  border-color: #623b0c;
  border-width: 2px;
  border-radius: 8px;
  margin-top: auto;
}

a:hover {
  color: orange;
}
